{{!-- <h1>My Health Blog</h1> --}}
{{#if isLoggedIn}}
  <h2>Welcome, {{user.username}}!</h2>
  <p>Your id is <strong>{{user.id}}</strong>.</p>
{{/if}}
<body>
<div>
  <h4>big journeys begin with small steps👣 </h4>
</div>

{{#unless isLoggedIn}}
    <a class='btn pulse'><href='/signup'>Sign Up</a>
{{/unless}}
{{{body}}}
    <script src='/js/main.js'></script>
</body>