<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/jass.css"  media="screen,projection"/>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
        <nav>
          <div class="nav-wrapper">
          <a href="/"class="brand-logo s12 m6">HEALTH & WELLNESS</a>
        {{#if isLoggedIn}}
        <div id="navwrapper right-align">
          <button class='btn btn-logout right'>Log Out</button>
        </div>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href='/dashboard'>Dashboard</a></li>
              <li><a href='/nutrition'>Nutrition</a></li>
          
          {{else}}
              <li><a href='/login'>Login</a></li>
            </ul>
          </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
          <li><a href='/dashboard'>Dashboard</a></li>
          <li><a href='/nutrition'>Nutrition</a></li>
          <li><a href='/login'>Login</a></li>
        </ul>
        {{/if}}
      
    </header>
    {{{body}}}
    <script src='/js/main.js'></script>
  </body>
</html>