<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <nav>
      <a href='/'>Home</a>
      {{#if isLoggedIn}}
        <button class='btn btn-logout'>Log Out</button>
      {{else}}
        <a href='/login'>login</a>
        <a href='/signup'>signup</a>
      {{/if}}
    </nav>
    {{{body}}}
    <script src='/js/main.js'></script>
  </body>
</html>