{{!-- {{if logged in}} --}}
<div class="card">
    <h3 class="card-header">Daily Journal</h3>
    <form class="card-body new-post-form" id="new-post-form">
        <label for="post-title" class="form-label">Workout</label>
        <input type="text" id="title" name="title" class="form-input" />


        <label class="form-label" for="content">Meal</label>
        <input id="content" name="content" class="form-input" />

        <label class="form-label" for="content">Motivation</label>
        <input id="content" name="daily motivation" class="form-input" />
        
    </form>
</div>
      <div class="form-group">
        <button class="btn btn-post">Post</button>
      </div>
    </form>
  </div>

{{#if posts.length}}
  <div class="col-md-6 post-list">
    <h3>All Posts:</h3>

    {{#each posts as |post|}}
    <div class="row">
      <div class="col-md-8">
        <h4><a href="/post/{{post.id}}">{{post.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/dashboard.js"></script>
