<h1>Login</h1>
<form class='login-form'>
  <label for='username'>Username</label><br />
  <input type='text' name='username' id='username' /><br />
  <label for='password'>Password</label><br />
  <input type='password' name='password' id='password' /><br />
  <button class='btn' type='submit'>Submit</button>
</form>
<p>Don't have an account yet? <a href='/signup'>Sign Up Here</a></p>
<script src='/js/login.js'></script>

{{!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container center">
  <a href="#login" class="btn btn-large teal modal-trigger">Login</a>
</div>

<div id="login" class="modal ">
  <h5 class="modal-close">&#10005;</h5>
  <div class="modal-content center">
    <h4>Login Form</h4>
    <br>

    <form action="#">

      <div class="input-field">
        <i class="material-icons prefix">person</i>
        <input type="text" id="name">
        <label for="name">Username</label>
      </div>
      <br>

      <div class="input-field">
        <i class="material-icons prefix">lock</i>
        <input type="password" id="pass">
        <label for="pass">Password</label>
      </div>
      <br>

      <div class="left" style="margin-left:20px;">
        <input type="checkbox" id="check">
        <label for="check">Remember Me</label>
      </div>
      <br>
      
      <input type="submit" value="Login" class="btn btn-large">
      
    </form>
  </div>
</div> --}}