html {
  background: url("../img/fitness.png") no-repeat center center fixed;
  background-size: cover;
}
.btn {
  /* position: fixed; */
  position: relative;
  right: 10px;
  bottom: -2px;
  /* bottom: 5px; */
  /* margin-left: 0px; */
  /* overflow: auto; */
}

h4 {
  text-align: right;
  padding: 3%;
  font-family:  Helvetica, sans-serif, Arial;
  font-weight: lighter;
}

h3 {
  color: black;
  font-family: Helvetica, sans-serif, Arial;
  font-weight: 200;
}
/* .row {
  display: inline;
  flex: wrap;
  overflow: visible;
} */

.card {
  display: flex;
  flex-wrap: wrap;
  color:rgb(22, 17, 16);
  background-color: rgb(244, 230, 214);
}
#searchform {
  background-color: rgb(207, 142, 73);
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
}
h2 {
  color: rgba(255, 255, 255, 0.952);
  font-family: Helvetica, "Times New Roman", Times, serif;
  font-weight: 200;
}

/* .btn-logout {
} */

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

header {
  font-family: Helvetica, Arial, Gillsans;
  font-weight: lighter;
}